name: Gradle Publish

on:
  release:
    types:
      - published

jobs:
  gradle-publish-paper:
    name: Publish Paper Plugin
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - uses: actions/checkout@v4.3.1
      - uses: gradle/actions/wrapper-validation@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 21
      - name: Build with Gradle
        run: ./gradlew --build-cache test build
      - name: Publish plugin
        run: ./gradlew :plugin-paper:publishMavenPublicationToEldonexusRepository
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
      - name: Publish api
        run: ./gradlew :plugin-api:publishMavenPublicationToEldonexusRepository
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
