name: Verify

on:
  release:
    types:
      - published
  push:
  pull_request:
    types: [ opened, ready_for_review, synchronize ]

jobs:
  build:
    runs-on: ubuntu-latest
    name: "Verify Gradle"

    steps:
      - uses: actions/checkout@v6.0.2
      - uses: gradle/actions/wrapper-validation@v5
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: adopt
          java-version: 21
      - name: Check licence
        run: ./gradlew spotlessCheck
      - name: Build with Gradle
        run: ./gradlew --build-cache build
      - name: Test with Gradle
        run: ./gradlew test
