name: Verify

on:
  release:
    types:
      - published
  push:
  pull_request:
    types: [ opened, ready_for_review, synchronize ]

jobs:
  build:
    runs-on: ubuntu-latest
    name: "Verify Gradle"

    steps:
      - uses: actions/checkout@v2.3.4
      - uses: gradle/wrapper-validation-action@v3
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 21
      - name: Check licence
        run: ./gradlew licenseCheck
      - name: Build with Gradle
        run: ./gradlew --build-cache build
      - name: Test with Gradle
        run: ./gradlew test
